amqp==5.0.2
asgiref==3.3.1
billiard==3.6.3.0
celery==5.0.4
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
dateutils==0.6.12
decorator==4.4.2
Django==3.1.4
django-celery-beat==2.1.0
django-redis==4.12.1
django-timezone-field==4.1.1
idna==2.10
kombu==5.0.2
numpy==1.19.4
pandas==1.1.5
prompt-toolkit==3.0.8
py==1.9.0
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.4
redis==3.5.3
requests==2.25.0
retry==0.9.2
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.2.0
