{% extends 'base.html' %}
{% load static %}
{% block main %}
<script>


let lineNo = 1;
$(document).ready(function () {

  $('#button').click(function (e) {
    var now = new Date(Date.now());
    var t =  now.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: false })
    console.log(t);
  e.preventDefault();
    function my_function(){
         $("h5#data-loader").text("Fetching data please wait......");

        $.ajax(
                {
                    url: '{% url 'api_get_data' %}',
                    data: {
                            "symbol": $('select[name=symbol] option').filter(':selected').val(),
                           },
                    dataType: 'json',
                    success: function(results){
                    console.log(results);
                      $("h5#data-loader").text("");
                      $("table tbody#table-row").html("");
                      $.each(results, function (i, row) {
                      $("table tbody#table-row").append(`<tr>
                                                              <th scope="row">${i}</th>
                                                              <td>${row.call}</td>
                                                              <td>${row.put}</td>
                                                              <td>${row.diff}</td>
                                                              <td>${row.time}</td>
                                                              <td>${row.signal}</td>
                                                         </tr>`);});
                       //$("div.ce-table").html(results.ce_data);
                       //$("div.pe-table").html(results.pe_data);

                    },
                    error: function(results){
                    $("h5#data-loader").text("There is some error occurred.");
                    }
                });
                function sleep(milliseconds) {
                  const date = Date.now();
                  let currentDate = null;
                  do {
                    currentDate = Date.now();
                  } while (currentDate - date < milliseconds);
                }
                sleep(2000);
            google.charts.load('current', {
            callback: function () {
            var chart = new google.visualization.LineChart($('#chart').get(0));
            function convertDate(date) {
                                var momentDate = moment(date).format('hh : mm A');
                                return momentDate;
                        }
            function drawChart() {
              $.ajax({
                url: '{% url 'get_intraday_data' %}',
                        dataType: 'json',
                        data: {
                                 "symbol": $('select[name=symbol] option').filter(':selected').val(),
                                },
                      }).done(function (results) {
                      console.log(results);
                        var data = new google.visualization.DataTable();
                        data.addColumn('datetime', 'Time');
                        data.addColumn('number', 'Difference');


                        $.each(results, function (i, row) {

                          data.addRow([
                             new Date(row.time.slice(0, -1)),
                             row.diff,

                          ]);
                        });
                        var options = {
                            title    : 'NSE Stock: Index Option Chain Data',
                            width    : 1200,
                            height   : 600,
                            legend   : 'true',
                             pointSize: 2,
                            vAxis: { title: 'Price Diff (INR)', },
                            hAxis: { title: 'Time of day (Hours:Minutes)', format: 'HH:mm', gridlines: {count:15}, curveType: 'function',
                                    lineWidth: 5,
                                    intervals: { 'style':'line' },}
                                    };
                            console.log("data---",data);
                            chart.draw(data, options);
                            });
                        }


                        drawChart();


                  },
                  packages: ['corechart']
                });

    };

    if(t>"09:15" && t<"15:30"){

        my_function();

        setInterval(my_function,100000);
    }
    else{

     $("h5#data-loader").text("Haha time is over. Market is closed. Come back tomorrow.");
    }

});
});
</script>
    <div class="container">

        <form id="symbol-select" class="form-inline">
            <div  class="form-group">
                <label for="symbol">Select Your Index Symbol :</label>

                <select id="symbol" class="custom-select ml-2" name="symbol">
                    <option value="BANKNIFTY" >BANKNIFTY</option>
                    <option value="NIFTY" selected>NIFTY</option>
                </select>
            </div>

            <button type="submit" id="button"  class="btn btn-primary ml-2">Submit</button>
        </form>
         <br>
        <h5 id="data-loader"></h5>
        <br>
        <table class="table">
          <thead>
            <tr>
                <th>#</th>
                <th>CE</th>
                <th>PE</th>
                <th>Diff</th>
                <th>Time</th>
                <th>Signal</th>
            </tr>
          </thead>
          <tbody id="table-row">
          </tbody>
        </table>

        <div id="chart" ></div>


<!--        <h1>CE Data</h1>-->

<!--        <div class="ce-table">-->

<!--        </div>-->

<!--        <h1>PE Data</h1>-->

<!--        <div class="pe-table">-->

<!--        </div>-->

  </div>
{% endblock %}