<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Data</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      google.charts.load('current', {
      callback: function () {
        var chart = new google.visualization.LineChart($('#chart').get(0));

        function drawChart() {
          $.ajax({
            url: '{% url 'get_intraday_data' %}',
                    dataType: 'json',
                  }).done(function (results) {
                  console.log(results);
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Time');
                    data.addColumn('number', 'Difference');


                    $.each(results, function (i, row) {
                      data.addRow([
                        row.time,
                        row.diff,

                      ]);
                    });

                    chart.draw(data, {
                      animation: {
                        startup: true,
                        duration: 1000
                      },
                      title: 'Intraday Data',
                      curveType: 'function',
                      displayAnnotations: true
                    });
                  });
                }
                drawChart();
                setInterval(drawChart, 303000);
              },
              packages: ['corechart']
            });

    </script>
</head>
<body>
        <div class="ques">

            <form >

                <h3>
                Select Your Index Symbol

                </h3>
                <select id="symbol" class="selectGrades form-control form-control-lg" name="symbol">
                    <option value="BANKNIFTY" selected>BANKNIFTY</option>
                    <option value="NIFTY">NIFTY</option>
                </select>

<script>
function get_data()
    {
        let symbol = $('select[name=symbol] option').filter(':selected').val();
        let headers = {"Referer": `https://www.nseindia.com/get-quotes/derivatives?symbol=${symbol}`,
               'User-Agent': "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:80.0) Gecko/20100101 Firefox/80.0",

               "Accept - Language": "en - US, en;q = 0.9", "Accept-Encoding": "gzip, deflate, br"
               }

        $.ajax(
                {
                    url: `https://www.nseindia.com/api/option-chain-indices?symbol=${symbol}`,

                    dataType: 'json',
                    headers : `${headers}`,
                    setCookies: {
                                    "bm_sv": "F140DF14529DCBD46F41C0CA2BF24EE7~kbGVwkURJC0sZAK/dfkMMNdp+I5+fHncaM2faFXjIOis8SUGWPA/GL7or2MbB6YbioUNsFqm3nrGbRNslXEU7WSilb4gIqms3So5NhURNXUP9myu2XvCRZ3tTZ+zWzH5ID/z7AVtakwD4BwJlLTxGmikyK3IYlREFTfHDs+N42c="},
                }
            ).done(function (results)
                {
                      console.log(results);

                });

        $.ajax(
                {
                    url: '{% url 'api_get_data' %}',
                    data: {
                        "symbol": $('select[name=symbol] option').filter(':selected').val(),

                    },
                    dataType: 'json',
                }
            ).done(function (results)
                {
                      console.log(results);
                      $("#symbl").text(`Selected Symbol : ${results.symbol}`);
                      $("#diff").text(`Total difference in Change In Open Interest: ${results.diff_changeinOpenInterest}`);
                      $("#signal").text(`Call According to data : ${results.call}`);
                      $("#ce").text(`CE Change in Open Interest Sum : ${results.ce_sum}`);
                      $("#pe").text(`PE Change in Open Interest Sum : ${results.pe_sum}`);
                });
    }
</script>

            </form>
<button class="btn" onclick="get_data()">Submit</button>
        </div >
<div id="chart" style="width: auto; height: 500px"></div>

            <h1 id="symbl"></h1>
            <h3 id="diff"></h3>
            <h3 id="signal"></h3>
            <h5 id="ce"></h5>
            <h5 id="pe"></h5>
 {%if symbol%}
            <h1>CE Data</h1>
            {% autoescape off %}
            {{ce_data}}
            {% endautoescape %}
            <h1>PE Data</h1>
            {% autoescape off %}
            {{pe_data}}
            {% endautoescape %}
        {%endif%}

</body>
</html>